<h1>Procontroller#index</h1>


<table border="100">
	<tr>
	<th>ID</th>
	<th>Name</th>
	<th>Price</th>
	<th>Quantity</th>
	<th>Description</th>
	</tr>
<% @pro.each do |s| %>
<tr>
	<td><%= s.id %></td>
	<td><%= s.name %></td>
	<td><%= s.price %></td>
	<td><%= s.quantity %></td>
	<td><%= s.description %></td>

</tr>

<% end %>



</table>
